# Byte-compiled / optimized / DLL files
/src/cs_prof_analyzer/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
# Note: we kept /build/ for our spec file, so ignore only pyinstaller's build output if needed
build/CsProfAnalyzer/
*.egg-info/

# Environments
venv/
env/
.env
.venv

# OS junk
.DS_Store
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
/src/__pycache__
