# Byte-compiled / optimized / DLL files
/core/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
venv/
env/
.env
.venv

# OS junk
.DS_Store
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
